/* Custom Styles */

/* Adjust background color of the mobile menu */
@media (max-width: 767px) {
    .navbar-collapse {
        background-color: #f8f8f8; /* Set your desired background color */
    }
}

/* Center the page heading */
.container.text-center {
    margin-top: 20px; /* Adjust the margin as needed */
}

/* Style the tall section */
.tall-section {
    height: 1000px; /* Set the desired height */
    background-color: #e5e5e5; /* Set your desired background color */
    margin-top: 20px; /* Adjust the margin as needed */
}
#chicken-section {
    height: 1000px; /* Set the desired height */
    background-color: #ff6a00; /* Set your desired background color */
    margin-top: 20px; /* Adjust the margin as needed */
}
#sushi-section {
    height: 1000px; /* Set the desired height */
    background-color: #808080; /* Set your desired background color */
    margin-top: 20px; /* Adjust the margin as needed */
}
#beef-section {
    height: 1000px; /* Set the desired height */
    background-color: #ff00dc; /* Set your desired background color */
    margin-top: 20px; /* Adjust the margin as needed */
}
